ul {
    display: inline-block;
    padding: 0;
    li {
        display: inline-block;
        text-transform: uppercase;
        width: 26px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    li.wordLetter {
        border-bottom: 1px solid #666;
        margin-right: 4px;
        font-weight: bold;
        font-size: 26px;
        span {
            visibility: hidden;
        }
        span.visible {
            visibility: visible;
        }
    }
    &:last-child li:last-child {
        display: none;
    }
}
